@using MVCLibaryApp.Models.Entity

@model List<TBLMEMBERS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script type="text/javascript">
        (function titleScroller(text) {
            document.title = text;
            setTimeout(function () {
                titleScroller(text.substr(1) + text.substr(0, 1));
            }, 500);
        }("Members"));
    </script>
    <title id="titleScroller"></title>

</head>
<br />
<h2 style="margin-top:10px">Members</h2>
<br />
<div class="form-group">

    <table id="tbl1" class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        @foreach (var x in Model)
        {
            if (x.CONFIRMATION == true)
            {
                <tr style="color:black">
                    <td>@x.ID</td>
                    <td>@x.NAME</td>
                    <td>@x.SURNAME</td>
                    <td><a href="/Member/ChangeMember/@x.ID" class="btn btn-success">Update</a></td>
                    <td>@Html.ActionLink("Delete", "DeleteMember", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Do you want to delete?')" })</td>
                    <td><a href="/Member/MemberHistory/@x.ID" class="btn btn-default" style="background-color:white">Member history</a></td>
                </tr>
            }
            else if (x.CONFIRMATION == false)
            {
                <tr style="color:#ff0000">
                    <td>@x.ID</td>
                    <td>@x.NAME</td>
                    <td>@x.SURNAME</td>
                    <td><a href="/Member/ChangeMember/@x.ID" class="btn btn-success">Update</a></td>
                    <td>@Html.ActionLink("Delete", "DeleteMember", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Do you want to delete?')" })</td>
                    <td><a href="/Member/MemberHistory/@x.ID" class="btn btn-default" style="background-color:white">Member history</a></td>
                </tr>
            }
        }
    </table>

</div>
@*@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))*@

<a href="/Member/AddMember" class="btn bg-primary">Add member</a>

<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>
